<footer class="my-12">
  <div class="flex flex-wrap justify-between">
    <div class="w-96 mb-8">
      <b class="text-3xl text-gray-900 font-bold block font-serif font-black mb-8">
        Pitayan
      </b>
      <small class="text-xl font-medium">
        Inspiring software development stories
      </small>
    </div>
    <div class="flex flex-wrap justify-between md:space-x-16">
      <ul class="w-32 text-base space-y-2 mt-0 mb-4 list-none">
        <h3 class="font-bold mb-3">Explore</h3>
        <li>
          <a class="site-link" href="/">
            home
          </a>
        </li>
        <li>
          <a class="site-link" href="/posts">
            posts
          </a>
        </li>
        <li>
          <a class="site-link" href="/categories">
            categories
          </a>
        </li>
        <li>
          <a class="site-link" href="/authors">
            authors
          </a>
        </li>
      </ul>
      <div class="w-32 text-base space-y-2 mb-4">
        <h3 class="font-bold mb-3">Site</h3>
        <div>
          <a class="site-link" href="/">
            home
          </a>
        </div>
        <div>
          <a class="site-link" href="/posts">
            posts
          </a>
        </div>
        <div>
          <a class="site-link" href="/categories">
            categories
          </a>
        </div>
        <div>
          <a class="site-link" href="/authors">
            authors
          </a>
        </div>
      </div>
      <div class="w-32 text-base space-y-2 mb-4">
        <h3 class="font-bold mb-3">Connect</h3>
        <div>
          <a class="site-link" href="/">
            home
          </a>
        </div>
        <div>
          <a class="site-link" href="/posts">
            posts
          </a>
        </div>
        <div>
          <a class="site-link" href="/categories">
            categories
          </a>
        </div>
        <div>
          <a class="site-link" href="/authors">
            authors
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-sm font-normal mt-8 mb-8">
    &copy; 2020 - {{ now() | date(format="%Y") }} Pitayan. All rights reserved.
  </div>
</footer>

