<header class="my-12 flex justify-between items-center content-center">
  <a href="/" class="block flex justify-center items-center space-x-2">
    {% include "partials/siteLogo.html" %}
    <b class="text-3xl text-gray-900 font-bold block font-serif font-black">
      Pitayan
    </b>
  </a>
  <nav role="navigation" class="flex items-center justify-between space-x-2">
    <button class="ghost-button flex items-center space-x-3">
      {% include "partials/searchIcon.html" %}
      <span class="hidden md:block">Search</span>
    </button>
    <button class="fill-button flex items-center space-x-3">
      {% include "partials/sunIcon.html" %}
      <span class="hidden md:block">Dark</span>
    </button>
  </nav>
</header>
