<div class="subscription">
	<div class="subscription-container">
		<div class="subscription-action flex flex-wrap w-full grow items-center">
			<form class="subscription-form">
        <div class="w-full relative max-w-lg mx-auto">
          <input
            placeholder="Your email address"
            aria-label="Your email address"
            name="email"
            type="email"
            class="default-input md:!pr-44 !pl-8"
            formNoValidate
            required=""
          />
          <button
            class="fill-button ml-auto absolute top-0 right-0"
            type="submit"
          >
            Subscribe
          </button>
			</form>
			<div class="subscription-message">
				<small class="alert-loading global-alert">Processing your application</small>
				<small class="alert-success global-alert">Please check your inbox and click the link to confirm your subscription.</small>
				<small class="alert-error global-alert">There was an error sending the email</small>
			</div>
		</div>
    <span class="text-gray-700 block w-96 text-[85%] p-4">Get our email newsletter with the ability to opt-out anytime. No sharing to 3rd party or spamming.</span>
	</div>
</div>
