:root {
  --bg-color: lightgray;
  --text-color: green;
}

p.demo.first-line:first-line {
  font-size: 24px;
  color: green;
}

p.demo.first-letter:first-letter {
  font-size: 36px;
  color: green;
}

p.demo.selection::selection {
  background: green;
}

p.demo.root {
  background: var(--bg-color);
  color: var(--text-color);
}

p.demo.empty {
  border: 1px solid black;
  height: 16px;
}

p.demo.only-child:only-child {
  background: lightgray;
}

p.demo.first-of-type:first-of-type {
  background: lightgray;
}

p.demo.last-of-type:last-of-type {
  background: lightgray;
}

p.demo.nth-of-type:nth-of-type(2) {
  background: lightgray;
}

p.demo.nth-last-of-type:nth-last-of-type(2) {
  background: lightgray;
}

a.demo.unvisited-link:link {
  color: green;
}

input.demo.valid:valid {
  border: 1px solid green;
}

input.demo.invalid:invalid {
  border: 1px solid red;
}

p.demo.lang:lang(ja) {
  color: green;
}

div.demo.not :not(p) {
  background: lightgray;
}
