{% macro render(social, class="", display_name=false) %}
  {% if social %}
    <div class="author-social {{class}}">
      {% if social.behance %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.behance.net/{{social.behance}}">
          {% include "partials/icons/behance.html" %}
          {% if display_name %}
            <span>&nbsp;Behance</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.dribbble %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.dribbble.com/{{social.dribbble}}">
          {% include "partials/icons/dribbble.html" %}
          {% if display_name %}
            <span>&nbsp;Dribbble</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.linkedin %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.linkedin.com/in/{{social.linkedin}}">
          {% include "partials/icons/linkedin.html" %}
          {% if display_name %}
            <span>&nbsp;Linkedin</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.twitter %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank" href="https://twitter.com/{{social.twitter}}">
          {% include "partials/icons/twitter.html" %}
          {% if display_name %}
            <span>&nbsp;Twitter</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.facebook %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank" href="https://www.facebook.com/{{social.facebook}}">
          {% include "partials/icons/facebook.html" %}
          {% if display_name %}
            <span>&nbsp;Facebook</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.instagram %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.instagram.com/{{social.instagram}}">
          {% include "partials/icons/instagram.html" %}
          {% if display_name %}
            <span>&nbsp;Instagram</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.devto %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://dev.to/{{social.devto}}">
          {% include "partials/icons/devto.html" %}
          {% if display_name %}
            <span>&nbsp;Devto</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.github %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://github.com/{{social.github}}">
          {% include "partials/icons/github.html" %}
          {% if display_name %}
            <span>&nbsp;Github</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.stackoverflow %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://stackoverflow.com/users/{{social.stackoverflow}}">
          {% include "partials/icons/stackoverflow.html" %}
          {% if display_name %}
            <span>&nbsp;Stackoverflow</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.youtube %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.youtube.com/channel/{{social.youtube}}">
          {% include "partials/icons/youtube.html" %}
          {% if display_name %}
            <span>&nbsp;YouTube</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.vimeo %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://vimeo.com/channels/{{social.vimeo}}">
          {% include "partials/icons/vimeo.html" %}
          {% if display_name %}
            <span>&nbsp;Vimeo</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.kickstarter %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.kickstarter.com/projects/{{social.kickstarter}}">
          {% include "partials/icons/kickstarter.html" %}
          {% if display_name %}
            <span>&nbsp;Kickstarter</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.medium %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://medium.com/{{social.medium}}">
          {% include "partials/icons/medium.html" %}
          {% if display_name %}
            <span>&nbsp;Medium</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.notion %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="{{social.notion}}">
          {% include "partials/icons/notion.html" %}
          {% if display_name %}
            <span>&nbsp;Notion</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.unsplash %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://unsplash.com/{{social.unsplash}}">
          {% include "partials/icons/unsplash.html" %}
          {% if display_name %}
            <span>&nbsp;Unsplash</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.patreon %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.patreon.com/{{social.patreon}}">
          {% include "partials/icons/patreon.html" %}
          {% if display_name %}
            <span>&nbsp;Patreon</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.digitalocean %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.digitalocean.com/blog/author/{{social.digitalocean}}">
          {% include "partials/icons/digitalocean.html" %}
          {% if display_name %}
            <span>&nbsp;DigitalOcean</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.tripadvisor %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.tripadvisor.com/{{social.tripadvisor}}">
          {% include "partials/icons/tripadvisor.html" %}
          {% if display_name %}
            <span>&nbsp;Tripadvisor</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.buymeacoffee %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank"  href="https://www.buymeacoffee.com/{{social.buymeacoffee}}">
          {% include "partials/icons/buymeacoffee.html" %}
          {% if display_name %}
            <span>&nbsp;Buymeacoffee</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.mailto %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank" href="mailto://{{social.mailto}}">
          {% include "partials/icons/mailto.html" %}
          {% if display_name %}
            <span>&nbsp;Email</span>
          {% endif %}
        </a>
      {% endif %}
      {% if social.website %}
        <a class="link-button ghost-button xs-button !flex items-center my-2" rel="noreferrer noopener" target="_blank" href="{{social.website}}">
          {% include "partials/icons/website.html" %}
          {% if display_name %}
            <span>&nbsp;Website</span>
          {% endif %}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
