{% import "macros/image.html" as image %}
{% import "macros/postCategories.html" as postCategories %}

{% macro render(post, display_categories=true, display_meta=true, display_description=true) %}
{% set post_folder_path = post.relative_path | split(pat="/") %}
{% set src = post_folder_path[0] ~ "/" ~ post_folder_path[1] ~ "/" ~ post.extra.image %}
<article class="post-item">
  <div class="post-image">
    <a href="{{get_url(path="@/"~post.relative_path)}}">
      {{image::render(
      src=src,
      alt=post.title,
      class="w-full rounded-xl"
      )}}
    </a>
  </div>
  <div class="post-footer my-4">
    {% if display_categories and post.taxonomies.categories %}
      {{postCategories::render(
        categories=post.taxonomies.categories,
        class="my-2"
      )}}
    {% endif %}
    <a class="site-link" href="/posts/{{post.slug}}">
      <h3 class="post-title font-bold">{{post.title}}</h3>
    </a>
    {% if display_meta %}
      <small class="text-xs">{{post.date | date(format="%b %d, %Y")}} — {{post.reading_time}} min read.</small>
      <small class="text-xs">by 
        {%- set length = post.taxonomies.authors | length %}
        {% for author in post.taxonomies.authors %}
        <a class="cursor-pointer underline font-medium" href="{{get_taxonomy_url(kind="authors", name=author)}}">
          {{author}}
        </a>{% if loop.index != length %},{% endif %}
        {% endfor %}
      </small>
    {% endif %}
    {% if display_description %}
      <p class="post-description my-3 text-sm">{{post.description}}</p>
    {% endif %}
  </div>
</article>
{% endmacro %}
