{% extends "layout/default.html" %}
{% import "macros/postItem.html" as postItem %}

{% block content %}
<div class="my-12">
  <p class="xl:text-7xl lg:text-6xl md:text-5xl text-4xl">
    {{config.extra.site_slogan | safe}}
  </p>

  {% include "partials/subscriptionHome.html" %}

  <hr />

  <p class="my-4 text-3xl">Read what we <br /><b class="font-extrabold">recently published</b></p>

  <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {%- set section = get_section(path="posts/_index.md") %}
    {%- for post in section.pages | slice(end=12) %}
      {{postItem::render(post=post)}}
    {%- endfor %}
  </div>

  <div class="text-center my-24">
    <a class="block" href="/posts"><button class="fill-button lg-button">Load More</button></a>
  </div>
</div>
{% endblock content %}
