{% extends "layout/default.html" %}
{% import "macros/postCategories.html" as postCategories %}
{% import "macros/postMeta.html" as postMeta %}
{% import "macros/postPager.html" as postPager %}
{% import "macros/image.html" as image %}
{% import "macros/authorPanel.html" as authorPanel %}
{% import "macros/postItem.html" as postItem %}
{% import "partials/socialSharing.html" as socialSharing %}

{% block title %}{{page.title}} | {{config.title}}{% endblock %}

{% block content %}
<div class="relative max-w-screen-lg mx-auto mt-4 mb-16">
  <div class="w-full">
    {% if page.taxonomies.categories %}
      {{postCategories::render(
        categories=page.taxonomies.categories,
        class="mb-6"
      )}}
    {% endif %}

    <h1 class="text-4xl lg:text-6xl 2xl:text-7xl font-bold lg:tracking-wide mx-auto">
      {{ page.title }}
    </h1>

    {% if page.description %}
      <p class="text-xl lg:text-2xl 2xl:text-3xl lg:tracking-wide font-medium">
        {{ page.description }}
      </p>
    {% endif %}

    {% if page.taxonomies.authors %}
      {{postMeta::render(
        authors=page.taxonomies.authors,
        date=page.date,
        reading_time=page.reading_time,
        class="my-12"
      )}}
    {% endif %}

    {% if page.extra.image %}
      {% set page_path = page.relative_path | split(pat="/") %}
      {% set src = page_path[0] ~ "/" ~ page_path[1] ~ "/" ~ page.extra.image %}
      {{image::render(
      src=src,
      alt=page.title,
      class="w-full rounded-xl"
      )}}
    {% endif %}
  </div>
</div>

<div class="max-w-screen-lg mx-auto mb-4 relative lg:grid grid-flow-col items-start">
  <article class="article markdown lg:pr-8 lg:mr-auto mx-auto col-span-2">
    {{ page.content | safe }}
  </article>
  <div class="sticky top-0 flex-shrink-0 w-auto justify-self-end mr-auto col-span-1 mb-12 overflow-y-auto lg:h-[calc(100vh-1rem)]">
    <hr class="my-4" />
    <p class="my-4 text-xl">On <b class="font-extrabold">this page</b></p>
    <ul class="text-base lg:text-sm font-semibold list-none">
      {% for h1 in page.toc %}
        <li class="lg:!mt-1">
        {% if h1.children %}
          <details>
            <summary>
              <a class="site-link lg:!text-sm !font-semibold" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            </summary>
            {% for h2 in h1.children %}
              <li class="lg:!mt-1 ml-4">
                <a class="site-link lg:!text-sm !font-semibold" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              </li>
            {% endfor %}
          </details>
        {% else %}
          <a class="site-link lg:!text-sm !font-semibold" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
        {% endif %}
        </li>
      {% endfor %}
    </ul>
    <hr class="my-4" />
    <p class="my-4 text-xl">Filed <b class="font-extrabold">under</b></p>
    {% if page.taxonomies.categories %}
      {{postCategories::render(
        categories=page.taxonomies.categories,
        class="mb-6 flex-wrap"
      )}}
    {% endif %}
    <hr class="my-4" />
    <p class="my-4 text-xl">Share <b class="font-extrabold">this post</b></p>
    {% if page.taxonomies.categories %}
      {{socialSharing::render(
        title=page.title,
        url=page.permalink,
        description=page.description,
        hashtags=page.taxonomies.categories,
        wrapper_class="flex items-center space-x-4",
        item_class="ghost-button xs-button"
      )}}
    {% endif %}
  </div>
</div>

<div class="max-w-screen-lg mx-auto">
  <hr />
  <p class="mt-4 mb-8 text-xl">It's <b class="font-extrabold">written by</b></p>

    {% if page.taxonomies.authors %}
      {% for author in page.taxonomies.authors %}
        {% set author_slug = get_taxonomy_url(kind="authors", name=author) | trim_end_matches(pat="/") | split(pat="/") | last %}
        {% set author_profile = get_page(path="authors/"~author_slug~"/index.md") %}
        {{authorPanel::render(
        author=author_profile, 
        display_name=false,
        )}}
      {% endfor %}
    {% endif %}
</div>

<hr />

{{postPager::render(
  post=page,
  class="my-8"
)}}

<hr />

<p class="my-4 text-xl">You might <b class="font-extrabold">also like</b></p>
{% set section = get_section(path="posts/_index.md") %}
{% set all_posts = section.pages %}

<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-36">
  {% if page.taxonomies.categories %}
    {% set_global related_posts = all_posts | slice(end=4) | sort(attribute="date") | reverse %}
    {% for post in all_posts %}
      {% if post.title != page.title %}
        {% for category in page.taxonomies.categories %}
          {% if category in post.taxonomies.categories %}
            {% set_global related_posts = [post] | concat(with=related_posts) | slice(end=4) %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    {% for post in related_posts %}
      {{postItem::render(
        post=post,
        display_categories=false,
        display_meta=false,
        display_description=false
      )}}
    {% endfor %}
  {% endif %}
</div>

{% endblock content %}
